.sidbar {
  height: calc(100vh - 50px);
  position: static;
  top: 50px;
  background-color: rgb(251, 251, 251);
  width: 15vw;
}

.sidbarWrapper {
  padding: 20px;
  color: #5555;
}

.sidbarMenu {
  margin-bottom: 10px;
}

.sidbarTitle {
  color: rgb(187, 186, 186);
}

.sidbarList {
  list-style: none;
  padding: 5px;
}

.sidbarListItem {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.sidbarListItem.active,
.sidbarListItem:hover {
  background-color: rgb(240, 240, 255);
}

.sidbarIcon {
  margin-right: 5px;
  font-size: 20px;
}
